<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>CLICK STORE</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <!-- <link href="cover.css" rel="stylesheet"> -->
  </head>
  <body class="d-flex h-100 text-center text-white " style="background-color: #078ea0b7;">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <nav class="navbar navbar-expand-md navbar-dark  navbar-light " style="background-color: #07a042b7;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/img/logo_white_large.png" width="60" height="30" class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">CLICK STORE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
            
          </ul>
          <div>
            <a href="/login"><button class="btn btn-primary"  type="button">SIGN OFF</button></a>
          </div> 
        </div>
      </div>
    </nav>
  </header>

  <main class="px-3">
    <h1>¡CLICK STORE AGRADECE TU COMPRA!</h1>
    <p class="lead">VUELVE PRONTO</p>
    <p class="lead">
      <!-- <a href="inicio.html" class="btn btn-lg btn btn fw-bold border-white bg-white">CLICK STORE</a> -->
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>


    
  </body>
</html>
