<%- include('dinamic/head')%>

<body style="background-color: #35cf7059;" >
    <%- include('dinamic/header')%>
    <h1>SHOES TREND</h1>
    <%- include('dinamic/product')%>

    <div class="container">
        <h1>TREND CALZADO</h1>
        <hr>
        <div class="row" id="items">
        
        </div>
    </div>

    <template id="template-card">
        <ul>
        <div class="col-12 mb-2">
          <div class="card" style="width: 12rem; background-color: #0ca6ac59;">
            <img src="" alt=""   class="card-img-top"> 
                <div class="card-body">
                <h5>Titulo</h5>
                <p>precio</p>
                <button class="btn-producto btn-dark">Comprar</button>
                </div>
          </div>
        </div>
      </ul>
      </template> 

    <%- include('dinamic/footer')%>
    <script src="../public/assets/dist/js/tendencia.js"> </script>
    <script src="../public/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>