<header>
    <nav class="navbar navbar-expand-md navbar-dark  navbar-light" style="background-color: #07a042b7;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/brand/logo-tienda.png" width="38" height="30" class="d-inline-block align-top" alt="Bootstrap" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="inicio.html">CLICK STORE</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./contact.html">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login.html">LOGIN</a>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-outline-light" type="submit"><a href="./carrito.html">SHOPPING CART</a></button>
          </form>
        </div>
      </div>
    </nav>
  </header>